@import url('https://fonts.googleapis.com/css?family=Noto');

body {  
    font-family: 'Noto';
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    padding: 0; 
    margin: 0;
    font-size: 18px;
    height: 100%;
    width: 100%;
}


/*-----------------------------navbar*/

.header{
  height: 75px;
  background: #34495e;
  padding: 0 20px;
  background-color:  rgba(72, 153, 114, 1);
  border: 1px solid black;
  width: 100%;
  position: fixed;
  z-index: 3;

}
.logo {
  line-height: 70px;
  float: left;
  text-transform: uppercase;
  font-size: 26px;
  z-index: 3;
  
}

.logo a {
  color: white;
  text-decoration: none;
  padding-top: 20px;
}

.logo a:hover {
     color: #3498db;
}

.menu{
  float: right;
  line-height: 70px;
}
.menu  a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;

}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

i > .burger {
    padding-bottom: 20px;
}

@media screen and (max-width:700px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu  a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
 
}
 

/*-----------------------------footer*/


.footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 50px;
    background-color:  rgba(72, 153, 114, 2);
    z-index: 3;
    padding-left: -15px;

}

.header {
    width: 100%;
    background-color: 3355FF;
}



.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    padding-top: 20px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center; 
    color:  #fafafa;    
    background:  rgba(72, 153, 114, 1);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
      color: #3498db;
}


.col-booking {
    margin-top: 60px;
}

/*-----------------------------about section*/

 h2 {
   text-align: center;
}

.margin-p {
    margin-bottom: 6rem;
}

 .menus-container  {  
    padding: 0;
  
 }    

/*-----------------------------menu cards*/


.w3-container {
    place-items: bottom;
}

 .cards-center {
        place-content: center;
    }
    
    .drinks-card {
     height: 300px;
     object-fit: cover;
     overflow: hidden;
     width: auto;  
        }

.cards1 {
    display: flex;    
    transition: ease-in-out .25s;    
    margin: 4rem;
      
}
.card1 {
    background-color: black;
    border-radius: 1rem;
    padding: 2rem;
    margin: -4rem;
    box-shadow: 4px 4px 12px 2px rgba(72, 153, 114, 1);
    height: 300px;
    width: 300px;
    

}

.card-color {
    background-color: #003366;
}

.card1:not(:first-child) {
    margin-left: -4rem;
    transition: ease-in-out .25s;
}


    .card1:hover {       
     transform: translateY(-1rem);
    }

    .card1:hover  ~ .card1 {
       transform: translateX(8rem);
     }

.card h2 a {
    color: white;
    text-decoration: none;
}

 @media (max-width: 600px){
 .cards1 {
         margin-left: 0;
         display: block;
         place-items: right;
    }
.card1{ 
       margin-left: 4rem;

}

.card1:not(:first-child) {
    margin-left: 4rem;
    
}
    }
/*-----------------------------opening hours*/

 .details-container {
    background-attachment: fixed;
    background-image: url("../images/Loop-Top1.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    }

h5 {
    font-size: 28px;
}

.opening-heading {
    margin-left: 40%;
    padding-bottom: 20px;
    font-size: 28px;
}

.opening-hours {
    font-size: 18px;
}

   table {  
    margin-left: 40%;

   }
  
  th  {
      margin-right: 5px;
  }
@media screen and (max-width:700px){
   .hours: {margin-left: 20%}
}
/*-----------------------------headings*/
.blinker-heading  {
    color: black;
    font-size: 58px;
    letter-spacing: 5px;
    margin-left: 21px;
    }

 .blinker-p   {   
     color: black;
    font-size: 22px;}



.landing-pages-header{
    text-align: center;
     margin-top: 20%;
}

.goodtimes-heading {
    color: rgb(187, 10, 30);
    font-size: 58px;
    letter-spacing: 5px;
    margin-left: 21px;
}

.goodtimes-p {
   color: rgb(241, 180, 187);
    font-size: 22px;
   
}

.drinks-heading {
    color: rgb(250,250,210);
    font-size: 58px;
    letter-spacing: 5px;
    margin-left: 21px;
    margin-top: 15%;
}
  


.drinks {
     color: rgb(241, 180, 187);
    font-size: 22px;
}


.music-heading {
 color:#3553ff;
    font-size: 58px;
    letter-spacing: 2px;
}

.music-p {
     color: rgb(204,85,0);
    font-size: 22px;
}


.cocktails-heading {
    padding-top: 100px;
}


.wine-heading {
    padding-top: 100px;
}

.beer-heading {
    padding-top: 100px;
}

.dj-heading {
    margin-top: 30px;
}

.header-desktop {
    margin-top: 40px;
}

@media only screen and (max-width: 700px) {
.landing-pages-header {
    padding-top: 150px;
}

}



/*-----------------------------drinks-page*/

hr {
    background-color: red;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


.drinks-details-container {
    background-attachment: fixed;
    background-image: url("../images/loop-roof-mel-.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
}

.cocktail {
    content: center;
}

.wine-name {
 margin-top: 20px;
}

.wine-container {
  background-color: rgba(235, 10, 10, 0.5);
}

#wine-section {
    background-attachment: fixed;
    background-image: url("../images/arial-cocktail.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.beer-container {
    padding-bottom: 40px;
}
/*-----------------------------jumbotron*/

.jumbotron-hours {
    background-color: rgba(255, 225, 53, .90);
    margin-top: 90px;
    }

.jumbotron-booking {
   padding-top: 40px;
   background-color: rgba(83, 51, 237, .90);
}

.jumbotron-regal {
    background-color: rgba(255,192,203 ,.90);
    margin-top: 40px;
}




 /*-----------------------------dj .cards1*/



 .card2 {
     width: 15rem;
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 2rem 0;
     box-shadow:  rgba(72, 153, 114, 2);
 }

 .card .background-dj {
     width: 100%;
     height: 2rem;
     object-fit: cover;
     height: 40%;
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 34%);
     clip-path: polygon(0 0, 100% 0, 100% 83%, 0 34%);
 }

.dj-image {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    border: 1px solid green;
    z-index: 2;
}

.card-deck {
   padding-bottom: 120px;
}

@media screen and (min-width: 700px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .card {
        margin: 2rem;
    }

}


/*-----------------------------booking form*/



#bookings-pic {
    background-attachment: fixed;
    background-image: url("../images/loop-roof-mel-.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}



#bookingform {
    padding-top: 20px;
}

.form-group {
    width: 60%;  
}

#form-month {
    width: 150px;
}

.booking-container {
    margin-top: 40px;
}


.address {
    float: right;
    padding-left: 14rem; 
}

#regal {
    background-attachment: fixed;
    background-image: url("../images/regal-disco.jpg");  
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    border-radius: 5%;
}


.regal-container {
    padding-bottom: 50px;
    padding-top: 30px;
}
/*-----------------------------text center*/

.center {
     text-align: center;
}


/*-----------------------------landing pictures*/

#goodtimes-landing {
    background-attachment: fixed;
    background-image: url("../images/rsz_ben-n-pots.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#music-landing {
    background-attachment: fixed;
    background-image: url("../images/lowell-sunny.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#drinks-landing {
    background-attachment: fixed;
    background-image: url("../images/IMG_6063.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
}

#landing-page {
    background-attachment: fixed;
    background-image: url("../images/Loop-Top3 (2).jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.music-footer-pic {
    background-attachment: fixed;
    background-image: url("../images/lowell-sunny.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw; }



    @media only screen and (max-width: 700px) {
#regal {
    display:none;
}

}


.header-mobile {
    margin-top: 80px;
}

#wine-section {
    display: none;
}

}

@media only screen and (min-width: 700px) {
    .wine-mobile {
        display: none;
    }
   .drinks-details-container {
       display: none;
   }

   
}

.details-container {
    width: 100%;
}

table {
    margin-left:auto;
    margin-right:auto;
}


 @media only screen and (max-width: 700px) {
.cards {
    display:none;
}

