@import url('https://fonts.googleapis.com/css?family=Noto');

body {  
    font-family: 'Noto';
    display: grid;
    min-height: 100vh;
    place-items: center;
    line-height: 1.6;
    padding: 0;
    margin: 0;
    font-size: 18px;
    height: 100%;
    width: 100%;
 
}

/*-----------------------------navbar*/

.logo {
    float: left;
    padding-left: 20px;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 25px;
       
}

.logo a {
    color: black;
     text-decoration: none;
}

a:hover {
   color: blue;
}

nav {
    
    align-items: right;
    height: 70px;
    min-height: 10vh;
    background-color:  rgba(72, 153, 114, 2);
    padding: 0;
    position: fixed;
    width: 100%;
    border: 1px solid black;
    z-index: 3;
    
}

.nav {
    
    text-align: right;
    height: 70px;
    line-height: 70px;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    

    
}
.menu {
    margin: 0 30px 0 0;
    
   
}
.menu a {
    clear: right;
    text-decoration: none;
    color:black;
    margin: 0 10px;
    line-height: 50px;
    font-size: 22px;
}


label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}



@media only screen and (max-width: 700px) {
    label {
        display: block;
        cursor: pointer;
        padding-right: 0px;
    }
    .menu {
        text-align: center;
        width: 100vw;
        display: none;
        background-color:  peachpuff;
        height: 100%;
        padding: 0px;
    }
  
    #toggle:checked + .menu {
        display: inline;
    }
    
    #toggle {
        padding-right: 20px;
    }
   
 .menu  a {
        display: block;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        margin: 0;
     
    }
   
#regal {
    display:none;
}
   
}

/*-----------------------------footer*/


.footer{
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 50px;
    min-height: 10vh;
    background-color:  rgba(72, 153, 114, 2);
    z-index: 3;
   padding-left: -15px;
}

.header {
    width: 100%;
    background-color: 3355FF;
}


.name {
    margin-top: 20%;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    padding-top: 20px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center; 
    color:  #fafafa;    
    background:  rgba(72, 153, 114, 1);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
     background:  rgba(72, 153, 114, 1);
}


.col-booking {
    margin-top: 60px;
}

/*-----------------------------about section*/

 h2 {
   text-align: center;
}

.margin-p {
    margin-bottom: 6rem;
}

.about-row {
    color: black;
}


 .menus-container  {  
    padding: 0;
  
 }    

/*-----------------------------menu cards*/


.w3-container {
    place-items: bottom;
}

 .move {
        place-content: center;
    }
    
    .drinks-card {
     height: 300px;
     object-fit: cover;
     overflow: hidden;
    
        }

.cards1 {
    display: flex;    
    transition: ease-in-out .25s;    
    margin: 4rem;
      
}
.card1 {
    background-color: black;
    border-radius: 1rem;
    padding: 2rem;
    margin: -4rem;
    box-shadow: 4px 4px 12px 2px rgba(72, 153, 114, 1);
    height: 300px;
    width: 300px;
    

}

.card-color {
    background-color: #003366;
}

.card1:not(:first-child) {
    margin-left: -4rem;
    transition: ease-in-out .25s;
}


    .card1:hover {       
     transform: translateY(-1rem);
    }

    .card1:hover  ~ .card1 {
       transform: translateX(8rem);
     }

.card h2 a {
    color: white;
    text-decoration: none;
}

 @media (max-width: 600px){
 .cards1 {
         margin-left: 0;
         display: block;
         place-items: right;
    }
.card1{ 
        margin-left: 4rem;

}

.card1:not(:first-child) {
    margin-left: 4rem;
    
}
    }
/*-----------------------------opening hours*/

 .details-container {
    background-attachment: fixed;
    background-image: url("../images/Loop-Top1.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    }

h5 {
    font-size: 28px;
}

.opening-heading {
    margin-left: 40%;
    padding-bottom: 20px;
    font-size: 28px;
}

.opening-hours {
    font-size: 18px;
}

   table {  
    margin-left: 40%;

   }
  
  th  {
      margin-right: 5px;
  }


/*-----------------------------headings*/
.blinker-heading  {
    color: black;
    font-size: 58px;
    letter-spacing: 5px;
    margin-left: 21px;
    }

 .blinker-p   {   
     color: black;
    font-size: 22px;}


.name {
    text-align: center;
}

.goodtimes-heading {
    color: rgb(187, 10, 30);
    font-size: 58px;
    letter-spacing: 5px;
    margin-left: 21px;
}

.goodtimes-p {
   color: rgb(241, 180, 187);
    font-size: 22px;
   
}

.drinks-heading {
    color: rgb(250,250,210);
    font-size: 58px;
    letter-spacing: 5px;
    margin-left: 21px;
    margin-top: 15%;
}
  


.drinks {
     color: rgb(241, 180, 187);
    font-size: 22px;
}


.music-heading {
 color:#3553ff;
    font-size: 58px;
    letter-spacing: 2px;
}

.music-p {
     color: rgb(204,85,0);
    font-size: 22px;
}


.cocktails-heading {
    padding-top: 100px;
}


.wine-heading {
    padding-top: 100px;
}

.beer-heading {
    padding-top: 100px;
}

.dj-heading {
    margin-top: 30px;
}

.header-desktop {
    margin-top: 40px;
}

/*-----------------------------drinks-page*/

hr {
    background-color: red;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


.drinks-details-container {
    background-attachment: fixed;
    background-image: url("../images/loop-roof-mel-.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
}

.cocktail {
    content: center;
}

.wine-name {
 margin-top: 20px;
}

.wine-container {
  background-color: rgba(235, 10, 10, 0.5);
}

#wine-section {
    background-attachment: fixed;
    background-image: url("../images/arial-cocktail.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}


/*-----------------------------jumbotron*/

.jumbotron-hours {
    background-color: rgba(255, 225, 53, .90);
    margin-top: 90px;
    }

.jumbotron-booking {
   padding-top: 40px;
   background-color: rgba(83, 51, 237, .90);
}

.jumbotron-regal {
    background-color: rgba(255,192,203 ,.90);
    margin-top: 40px;
}




 /*-----------------------------dj .cards1*/



 .card2 {
     width: 15rem;
     background-color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 2rem 0;
     box-shadow:  rgba(72, 153, 114, 2);
 }

 .card .background-dj {
     width: 100%;
     height: 2rem;
     object-fit: cover;
     height: 40%;
     -webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 34%);
     clip-path: polygon(0 0, 100% 0, 100% 83%, 0 34%);
 }

.dj-image {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    border: 1px solid green;
    z-index: 2;
}



@media screen and (min-width: 700px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    .card {
        margin: 2rem;
    }

 
 

}


/*-----------------------------booking form*/



#bookings-pic {
    background-attachment: fixed;
    background-image: url("../images/loop-roof-mel-.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}



#bookingform {
    padding-top: 20px;
}

.form-group {
    width: 60%;  
}

#form-month {
    width: 150px;
}




#regal {
    background-attachment: fixed;
    background-image: url("../images/regal-disco.jpg");  
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    border-radius: 5%;
}


.regal-container {
    padding-bottom: 50px;
    padding-top: 30px;
}

.center {
     text-align: center;
}


/*-----------------------------landing pictures*/

#goodtimes-landing {
    background-attachment: fixed;
    background-image: url("../images/rsz_ben-n-pots.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#music-landing {
    background-attachment: fixed;
    background-image: url("../images/lowell-sunny.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#drinks-landing {
    background-attachment: fixed;
    background-image: url("../images/IMG_6063.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
}

#landing-page {
    background-attachment: fixed;
    background-image: url("../images/Loop-Top3 (2).jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

@media only screen and (max-width: 700px) {

    #landing-page  {
        display: none;
    }

    #drinks-landing {
         display: none;
    }

    #music-landing {
        display: none; 
    }

    #goodtimes-landing {
       display: none; 
    }

    .name {
        margin-top: 50px;
    }

.dj-heading {
    margin-top: 450px;
}

.header-mobile {
    margin-top: 80px;
}

#wine-section {
    display: none;
}

}


.booking-container {
    margin-top: 40px;
}


.address {
    float: right;
    padding-left: 14rem;

    
}


@media only screen and (min-width: 700px) {
    .wine-mobile {
        display: none;
    }
}